
body{
  background-color: #E4E9FD ;
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1, h2 {
  color: #fff;
  padding: 1.25rem;
}

.box {
  max-width: 40rem;
  margin: 3.125rem auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.box-goBack{
  max-width: 40rem;
  margin: 3.125rem auto;
  border-radius: 5px;
  text-align: center;
  background: transparent;
}

#heading {
  background-color: #596e79;
  text-align: center;
  min-height: 6rem;
}

.item {
  min-height: 6.375rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  background-color: #fff;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 1.25rem;
}

p {
  margin: 0;
  padding: 1.25rem;
  font-size: 1.85rem;
  font-weight: 200;
  color: #00204a;
  max-width: 28.75rem;
  display: inline-block;
}

form.item {
  text-align: center;
  margin-left: 1.25rem;
}

form.titleCheckBox{
margin-right:0.625rem;
width: 1.25rem;
display: inline-block;
}

form.title{
  width: 36.875rem;
  margin-left: 10px;
  display: inline-block;
}

button {
  min-height: 5.125rem;
  min-width: 5.125rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: #596e79;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 6px;
  border-width: 0;
}

button.titlenav{
  min-height: 5.125rem;
  width: 31.875rem;
  border-color: transparent;
  background-color: #fff;
  color: #596e79;
  font-size:2rem;
  text-align: left;
}

a{
  display: inline-block;
  position: relative;
}
button.item {
  text-align: center;
  min-height: 6.375rem;
  min-width: 31.56rem;
  background-color: #fff;
  align-items: center;
}

.btn{
  font-size: 1.85rem;
}

input[type="text"] {
  text-align: center;
  height: 3.75rem;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 1.85rem;
  font-weight: 200;
  width: 32.56rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media screen (max-width: 640px){

body{
    height: 100%;
  }
